
<div class="ui grid">

	<div class="thirteen wide column">
		<div class="ui raised segment light fixed"
			style="background-color: #b1beca">
			<div class="ui container">
				<div class="ui large secondary network menu">
					<div class="item">
						<div class="ui logo shape">
							<div class="sides">
								<h3 class="active ui side">Game List</h3>
							</div>
						</div>
					</div>

					<div class="right menu">

						<div class="ui language floating dropdown link item"
							id="languages">
							<i class="world icon"></i>
							<div class="text">English</div>
						</div>
						<div class="ui language floating dropdown link item "
							id="languages">
							<a href="{{contextpath}}logout"><i class="sign out icon"></i>
								Logout </a>

						</div>

					</div>
				</div>
			</div>
		</div>

		<br> <br>
		<div class="ui grid">
			<div class="fifteen wide centered column">
				<div class="ui card fluid">
					<div class="content">
						<div class="ui grid container">
							<div class="five wide column middle aligned content">
								<div>
									<b>Your Games </b>
								</div>
							</div>
							<div class="six wide column middle aligned content"></div>
							<div class="five wide column middle aligned content">
							<div class="ui input focus" style="width:100%">
								<input type="text" ng-model="search" placeholder="Filter">
							</div>
							</div>

							<br> <br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>


		</div></div>

<style>
body{
background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wd100{
	
}

.heading{
	background-color:#90cbce !important;
}

.heading2{
	background-color:#6d8196 !important;
}
</style>